.vscode/
__debug_*
.DS_Store
*secret*
*.pem
*Key.txt
address.txt
coverage.out
.venv
.makerc
__pycache__

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan